#navbar {
        margin-bottom: 25px;
     }

#container {
         margin: 0px;
     }

.container-fluid {
    padding: 20px;
    background-color: #32A9D1;
}

#logo {
    border: grey solid 3px;
    align-content: right;
}

#species-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#activity-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.row{
    padding-top: 10px;
}

#totalAttacks {
    background: #33CC99;
    position: relative;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

.chart-wrapper {
    box-shadow: 10px 10px 5px #888888;

}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("https://media.giphy.com/media/3o72FkreWNH9OlTtPq/giphy.gif") 50% 50% no-repeat rgb(249,249,249);
}