#navbar {
        margin-bottom: 25px;
     }

#container {
         margin: 10px;
     }

.container-fluid {
    padding: 20px;
    background-color: #32A9D1;
}

#logo {
    border: grey solid 3px;
    align-content: right;
}

#species-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.row{
    padding-top: 10px;
}

/*.dc-legend {
    position: absolute, right;
    align-content: right;
}*/